*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 600px;
    border: 2px solid red;
    display: grid;
    row-gap: 20px;
    column-gap: 5px;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-areas: "header header header header"
                         "sidebar main main main"
                         "sidebar main main main"
                         "footer footer footer footer";
}
.box{
    border: 2px solid blue;
    padding: 12px;
}
#box-1{
    grid-area: header;
    background-color: aliceblue;
}
#box-2{
    grid-area: sidebar;
    background-color: red;
}
#box-3{
    grid-area: main;
    background-color: black;
}
#box-4{
    grid-area: footer;
    background-color: darkcyan;
}